 /*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
body{
    background-color: #a1b779
}

img {
    margin: 5px;
}

img.font {
    display: block;
    margin: 0px auto;
}

img.poster {
    display: block;
    margin: 0px auto;
}

img.cover1 {
    display: block;
    margin: 0px auto;
}

img.specimen {
    display: block;
    margin: auto;
    margin-top: 10px;
}

img.header {
    height: 60px;
}

h1 {
    font-family: "Rockwell";
    font-size: 65px;
    color: #634f45;
    padding: 10px;
    background-color: #f6f2d7;
}

div.header {
    height: 100px;
    margin: 20px;
    margin-left: 30px;
    border: none;
}

h3 {
    font-family: "Tw Cent MT", "Gill Sans";
    font-size: 24px;
    color: #634f45;
    margin: 30px;
    margin-right: 50px;
    background-color: #f6f2d7;
    padding: 10px;
}

p {
    font-family: "Gill Sans";
    font-style: bold;
    font-size: 18px;
    color: #634f45;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-right: 70px;
    background-color: #b8c69e;
    padding: 10px;
}

div.first {
    margin: 0px auto;
    text-align: center;
}

div.firsttext {
    margin: 0px auto;
    text-align: center;
}

div.final {
    margin: 0px auto;
    text-align: center;
}

div.dechead {
    display: block;
    text-align: center;
}