 /*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
#page {
    text-align: center;
    background-color: #cae0ba;}

div.first {
    text-align: center;
}

img.pages {
    width: 250px;
    height: 375px;
    margin: 20px auto 20px auto;
}

img.large{
    display: block;
    height: 300;
    width: 420;
    margin: 20px auto 20px auto;
}

p {
    font-family: "Avenir";
    text-align: center;
}

div.firsttext {
    text-align: center;
}

h3 {
    font-family: "Noteworthy Light", "Tw Cen MT", "Gill Sans";
     text-align: center;
     font-size: 28px;
}