.nocursor {
    cursor: none;
}
.cursor {
    cursor: default !important;
}
#img {
    position: absolute;
    top: -100px;
    left: -100px;
    width: 12px;
    height: 17px;
    background-image: url(../img/pointer.png);
}